<h2> Tasks List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> task kName</th>
            <th> priority </th>
            <th> id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let task of tasks" >
            <td> {{ task.taskName }} </td>
            <td> {{ task.priority }} </td>
            <td> {{ task.id }} </td>
            <td>
                <button (click) = "updateTask(task.id)"  class = "btn btn-info"> Update</button>
                <button (click) = "deleteTask(task.id)"  class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "taskDetails(task.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
